@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Heebo:wght@100;200;300;400;500&family=Inter:wght@100;200;300;400&family=Lato:wght@100;700&family=PT+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Teko:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  padding-top: 8vh;
}

.container {
  padding-top: 8vh;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: left;
}

.refresh {
  display: flex;
  justify-content: space-aro;
  gap: 50px;
}

.scores ul {
  border: 2px solid #000;
  margin-top: 20px;
}

.scores ul li {
  list-style: none;
  padding: 10px;
}

.scores li:nth-child(2n) {
  background-color: rgb(228, 224, 224);
}

.form-scores form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}

.form-scores input {
  width: 100%;
  border: 2px solid #000;
  padding: 5px;
}

button {
  border: 2px solid #000;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #fff;
}

button:hover {
  transform: scale(1.07);
}

button:active {
  transform: scale(0.9);
}
